/* OuterGridBg.css */

.outer-grid-bg {
  position: relative;

  /* picture on top, color behind */
  background-image: 
  var(--gradient-section-overlay), /* opacity mask */
  var(--top-image),
  var(--bottom-color);
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;

  border-radius: 12px;
  padding: 24px;
}
