.slick-dots {
  inset: 0;
  top: 85%;
}

.slick-list {
  padding-top: 12px;
  padding-bottom: 12px;
}

.slider-dots {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.slider-dots li {
  display: inline-block;
  width: calc(25% - 8px);
  margin: 0 2px;
}

.slick-dots li button {
  position: relative;
  width: 120%;
  height: 8px;
  border-radius: 5px;
  border: 0;
  background-color: var(--color-border-contrast);
  font-size: 0;
}
.slick-dots li button:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0%;
  height: 100%;
}
.slick-dots li button:before {
  content: "";
}

.slick-active button:after {
  border-radius: 4px;
  background-color: var(--color-primary);
  animation: progress 6s infinite;
}
/* Remove default button look */
.slick-dots li button:before {
  font-size: 10px;
  color: var(--color-border-contrast); /* inactive dot */
  opacity: 1;
}

/* Active dot color */
.slick-dots li.slick-active button:before {
  color: var(--color-primary); /* active dot */
}

/* Optional: spacing */
.slick-dots li {
  margin: 0 4px;
}

/* Optional: move dots up */
.slick-dots {
  bottom: 15px;
}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
