.toolbar-bg {
  position: relative;
  overflow: hidden;
    
  background-image:
    linear-gradient(rgba(208, 140, 14, 0.25), rgba(166, 131, 23, 0.259)),
    var(--bg-image),
    var(--bg-color);

  background-size: 100% 100% , 100% 100%, contain;
  background-position: center center, center center, center center;
  background-repeat: no-repeat, no-repeat, no-repeat;
 


  border-radius: 0; /* toolbar usually square */
}
