.loading-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.gradient-loader {
  background: var(--gradient-brand);
  -webkit-mask-image: radial-gradient(circle, white 65%, transparent 70%);
  mask-image: radial-gradient(circle, white 65%, transparent 70%);
  padding: 4px;
  border-radius: 8px;
}

.gradient-text {
  background: var(--gradient-brand);
  background-size: 100%;
  background-clip: text;              /* <-- standard */
  -webkit-background-clip: text;      /* <-- Safari/Chrome */
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 24px;
}

