.loading-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.gradient-loader {
  background: linear-gradient(
    129deg,
    rgba(87, 3, 0, 0.925),
    rgba(148, 10, 0, 0.822),
    rgba(78, 5, 0, 0.897)
  );
  -webkit-mask-image: radial-gradient(circle, white 65%, transparent 70%);
  mask-image: radial-gradient(circle, white 65%, transparent 70%);
  padding: 4px;
  border-radius: 8px;
}

.gradient-text {
  background: linear-gradient(
    129deg,
    rgba(87, 3, 0, 0.925),
    rgba(148, 10, 0, 0.822),
    rgba(78, 5, 0, 0.897)
  );
  background-size: 100%;
  background-clip: text;              /* <-- standard */
  -webkit-background-clip: text;      /* <-- Safari/Chrome */
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 24px;
}

