.testimonial-bg {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  /* MASK → IMAGE → COLOR */
  background-image:
    var(--gradient-header-overlay),
    var(--bg-image),
    var(--bg-color);

  background-size: cover, cover, cover;
  background-position: center center, center center, center center;
  background-repeat: no-repeat, no-repeat, no-repeat;

  padding: 2rem;
}
